<form class="form form-vertical" id="productsForm">

	<div class="control-group">
		<label>Title</label>
		<div class="controls">
			<input type="text" name="product.title" placeholder="Title" required />
		</div>
	</div>
	
	<div class="control-group">
		<label>Price</label>
		<div class="controls">
			<input type="number" name="product.price" placeholder="Price" required/>
		</div>
	</div>
	
	<div class="control-group">
		<label></label>
		<div class="controls">
			<div class="btn btn-primary" id="productsFormSubmit">Submit</div>
		</div>
	</div>
	
</form>