<ul class="nav nav-pills nav-stacked">
	<li class="nav-header"></li>
	<li class="active"><a href="#"><i class="icon-home"/> Home</a></li>
	<li class="nav-header">Products</li>
	<li><a href="#product/list">List</a></li>
	<li><a href="#product/form">New</a></li>
	<li class="divider"></li>
	<li><a href="#">Link 1</a></li>
	<li><a href="#">Link 2</a></li>
	<li><a href="#">Link ..</a></li>
	<li><a href="#">Link ..</a></li>
	<li class="divider"></li>
	<li><a href="#">Link ..</a></li>
	<li><a href="#">Link ..</a></li>
	<li><a href="#">Link ..</a></li>
	<li><a href="#">Link ..</a></li>
	<li class="divider"></li>
	<li><a href="#">Link ..</a></li>
	<li><a href="#">Link ..</a></li>
	<li><a href="#">Link ..</a></li>
	<li><a href="#">Link ..</a></li>
</ul>